/Application/
/Test_Debug/
/FXOS8700 Frescale Lib/
/Image_Sensor/
/Network/
/Peripheral_Drivers/
/Power/
/Parse_Library/
/Sensors/
/Lib/
/Common/
/Ecompass_Library/
/OTA/
/Ecompass/
/Parse/
/SDK_Common/
